body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #2a2542;
  color: #953939;
  padding: 10px;
}

h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style:square ;
}
nav li 
  display: inline-block;
  margin
  .nut-bam {
    border: none;
    background-color: aqua;
    color: white;
    padding: 30px 35px;
    cursor: pointer;
    transition: background 2s;
}
.nut-bam:hover{
    background-color: green;
    padding: 20px 35px;
}
